<strong>Hello, {{ student }}</strong>
<p>Your registration has been completed.</p>
<p>Here is your registration informations:</p>
<br />
<table>
  <tbody>
    <tr>
      <td><strong>Plan</strong></td>
      <td>{{ plan }}</td>
    </tr>
    <tr>
      <td><strong>Expiration Date</strong></td>
      <td>{{ end_date }}</td>
    </tr>
    <tr>
      <td><strong>Total price</strong></td>
      <td>R$ {{ price }},00</td>
    </tr>
  </tbody>
</table>
<br />
<p>Welcome to our gym!</p>


