<div style="padding: 20px;">
  <div style="text-align: center; padding: 10px; border-radius: 4px; background: #fff; color: #ee4d64">
    <strong>Olá, {{ student }}! Sua matrícula foi realizada!</strong>
  </div>
  <div style="text-align: center;">
    <p>Abaixo, estão as informações da sua matrícula:</p>
  </div>
  <div style="text-align: center;">
    <p style="border-left: 4px solid #fff; background: rgba(255,255,255, 0.2); padding: 5px">Plano: <strong>{{ plan }}</strong></p>
    <p style="border-left: 4px solid #fff; background: rgba(255,255,255, 0.2); padding: 5px">Valido até: <strong>{{ end_date }}</strong></p>
    <p style="border-left: 4px solid #fff; background: rgba(255,255,255, 0.2); padding: 5px">Valor total: <strong>{{ price }}</strong></p>
  </div>
  <br />
  <div style="text-align: center;">
    <p>Bem-vindo à nossa academia!</p>
  </div>
</div>

